{% extends 'base.html' %}
{% load static %}
{% block content %} 

  
  <div class="site-section bg-image overlay" style="background-image: url('{% static "assets/images/hero_1_no-text.jpg" %}');" id="donate-section">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="text-white mb-4">Contact Us</h2>
                 
            <p>
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3825.8672737824418!2d80.68905781388683!3d16.482256988626922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fb3cd8a69f41%3A0x9a0e1b5a776b918!2sVelagapudi%20Ramakrishna%20Siddhartha%20Engineering%20College!5e0!3m2!1sen!2sin!4v1672901063301!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </p>
        </div>
      </div>
    </div>
  </div>



{% endblock content %}
